*.pyc

ckpt/
vis/
log/
pretrained/

.ipynb_checkpoints

ADE_val*.jpg
ADE_val*.png

.idea/
Still-of-Vision-from-Avengers-Infinity-War-trailer.png
119211376_318640699588996_1291935836100922877_n.jpg
*.ipynb
*.jpg
*.png
